{{#link-to "rental.rentalhome" rentalhome.id }}
<div class="maincontent">
<img src="{{rentalhome.image}}" height="70px" width="80px"/>
 <span class="title_main">{{rentalhome.title}}</span>
</div>
{{/link-to}}
