.maincontent{
  /*background-color:grey;*/
  border:1px solid #000;
  width:100px;
  height:150px;
  margin-top:5px;
}
img{
  margin-left: 7px;
  margin-bottom: 2px;
}
.title{
  color:red;
  font-size:14px;
}
.place{
  color:green;
  font-size:14px;
}
.title_main{
  margin-top:2px;
}
.target{
  border:1px solid #000;
  width:90%;
  margin:10px 10px;
  text-align: center;
}
/*.result{*/
  /*background-color: grey;
  float:right;
}
.list{
  top:10px;
}
/*.mainrow{
  width:100%;
}
.source{
  width:50%;
}*/*/
